# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [67]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [68]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [70]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [71]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [72]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [73]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [74]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [75]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [76]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [77]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [78]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [79]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [80]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [81]:
data.duplicated().sum()

71

In [82]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [83]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [84]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [85]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [86]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [87]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

### Описание данных
* **children** — количество детей в семье
* **days_employed** — общий трудовой стаж в днях
* **dob_years** — возраст клиента в годах
* **education** — уровень образования клиента
* **education_id** — идентификатор уровня образования
* **family_status** — семейное положение
* **family_status_id** — идентификатор семейного положения
* **gender** — пол клиента
* **income_type** — тип занятости
* **debt** — имел ли задолженность по возврату кредитов
* **total_income** — ежемесячный доход
* **purpose** — цель получения кредита

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для начала выясню количество уникальных значений в столбце **'debt'**

In [88]:
data['debt'].unique()

array([0, 1])

В столбце **'debt'** есть два значения:
* **0** - нет задолженности (по умолчанию = 'False')
* **1** - есть задолженность (по умолчанию = 'True')

Создаю новую переменную, в которой будет таблица с нужными значениями.

In [89]:
children_depend_debt = data.groupby(['children']).agg({'debt': ['count','sum']}) 
children_depend_debt

           debt
          count   sum
children
0         14091  1063
1          4808   444
2          2052   194
3           330    27
4            41     4
5             9     0

In [90]:
children_depend_debt['debt','%'] = children_depend_debt[('debt','sum')] / children_depend_debt[('debt','count')]*100

In [91]:
children_depend_debt

           debt
          count   sum         %
children
0         14091  1063  7.543822
1          4808   444  9.234609
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

**Вывод:** Больше всего процент просроченных платежей у людей с 1-2 ребенком. У людей без детей количество задолженности среднее по показателям. Но надо учитывать тот факт, это самая объемная категория для выдачи кредитов.
Количество детей влияет на срок погашения кредита. По результатам исследования видно, что процент выплаты кредита в срок у людей с детьми, больше, чем у людей без детей.
Любопытный факт, у людей с 5 детьми нет просрочек с выплатми кредитов.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Получаю уникальные значения в столбце **'family_status'**

In [92]:
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

Создаю новую переменную для вывода показателей.

In [93]:
family_status_debt = data.groupby(['family_status']).agg({'debt': ['count','sum']}) 
family_status_debt

                        debt
                       count  sum
family_status
Не женат / не замужем   2796  273
в разводе               1189   84
вдовец / вдова           951   63
гражданский брак        4134  385
женат / замужем        12261  927

Вывожу процентное соотношение в отдельный столбец.

In [94]:
family_status_debt['debt','%'] = family_status_debt[('debt','sum')] / family_status_debt[('debt','count')]*100
family_status_debt

                        debt
                       count  sum         %
family_status
Не женат / не замужем   2796  273  9.763948
в разводе               1189   84  7.064760
вдовец / вдова           951   63  6.624606
гражданский брак        4134  385  9.313014
женат / замужем        12261  927  7.560558

**Вывод:** Процент задолженности по возвратуу кредита в срок у людей состоящих **в браке** и состоящих **в разводе**, приблизительно равно и является средним по общим показателям задолженности среди всех категорий. Надо учитывать, что подавляющая часть выдаваемых кредитов приходится на людей, которые состоят **в браке**.
Наиболее рискованные категории по погашению кредита являются **холостые** или состоящие в **гражданском браке**.
Менее всего невыплат по крдитам у **вдовцов/вдов**.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Создаю новую переменную для вывода показателей  по категориям дохода **'total_income_category'**

In [95]:
total_income_debt = data.groupby(['total_income_category']).agg({'debt':['count','sum']})
total_income_debt

                        debt
                       count   sum
total_income_category
A                         25     2
B                       5014   354
C                      15921  1353
D                        349    21
E                         22     2

Вывожу процентное соотношение в отдельный столбец.

In [96]:
total_income_debt['debt','%'] = total_income_debt[('debt','sum')]/total_income_debt[('debt','count')]*100
total_income_debt

                        debt
                       count   sum         %
total_income_category
A                         25     2  8.000000
B                       5014   354  7.060231
C                      15921  1353  8.498210
D                        349    21  6.017192
E                         22     2  9.090909

Таблица по категоризации уровня дохода:
* 0–30000 — **'E'**;
* 30001–50000 — **'D'**;
* 50001–200000 — **'C'**;
* 200001–1000000 — **'B'**;
* 1000001 и выше — **'A'**.

**Вывод:** Больше всего просрочек у категорий **А** и **Е**, учитывая что количество выдаваемых кредитов минимальное. Больше всего кредитов берут люди, уровень дохода в категории **С**, т.е. от 500001 до 200000. Но и процент задолженности по кредитам в этой категории близок к максимальному. Эта категория является основной для выдачи кредита. 
Также большой  процент задолженности в категории **В**. 
Меньше всего процент задолженности в категории **D**.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Выведу уникальные значения из столбца **'purpose_category'**

In [97]:
data['purpose_category'].unique()

array(['операции с недвижимостью', 'операции с автомобилем',
       'получение образования', 'проведение свадьбы'], dtype=object)

Создаю новую переменную для вывода показателей целей получения кредита.

In [98]:
purpose_category_debt = data.groupby(['purpose_category']).agg({'debt':['count','sum']})# Ваш код будет здесь. Вы можете создавать новые ячейки.
purpose_category_debt

                           debt
                          count  sum
purpose_category
операции с автомобилем     4279  400
операции с недвижимостью  10751  780
получение образования      3988  369
проведение свадьбы         2313  183

Вывожу процентное соотношение в отдельный столбец.

In [99]:
purpose_category_debt['debt','%'] = round(purpose_category_debt[('debt', 'sum')]\
    /purpose_category_debt[('debt', 'count')]*100, 2)
purpose_category_debt

                           debt
                          count  sum     %
purpose_category
операции с автомобилем     4279  400  9.35
операции с недвижимостью  10751  780  7.26
получение образования      3988  369  9.25
проведение свадьбы         2313  183  7.91

**Вывод:** Подавляющее большинсвто кредитов приходится на категорию **операция с недвижимостью**. Процент задолженности практически такой же, как и в категории **проведение свадьбы**. 
Больше задолженности в категориях **операции с автомобилем** и **получение образования**.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Клиентом является Банк. Если учитывать, что форма заявления на получение кредита, является достоаточно объемной, то, в данном случае, предполагаю, что наличие пропусков в данных произошло из-за человеческого фактора, со стороны содрудников Банка.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В отличии от среднего значения, медианное значение лучше для решения количественных переменных, т.к. оно показывает такое число в **выборке**, что ровно половина элементов больше него, а другая половина — меньше.

### Шаг 4: общий вывод.

1. Были обработаны пропуски в колонке 'total_income'(ежемесячный доход) и 'days_employed(общий трудовой стаж в днях).
    
    1.1. Для каждого типа занятости в пустых ячейках 'days_employed' и 'total_income' заполнил медианными значениями.
    
    
  2. Обработана колонка 'children'(количество детей в семье).
    
    2.1. Удалены "аномальные значения" в строках, т.е. отрицательный и нулевой возраст.
    
    
  3. Изменен тип данных в колонке 'total_income' с вещественного значения на целочисленное.
    
    
  4. В таблице создал столбец 'total_income_category' со следующей разбивкой по категориям: 
    
    - 0–30000 — `'E'`;
    - 30001–50000 — `'D'`;
    - 50001–200000 — `'C'`;
    - 200001–1000000 — `'B'`;
    - 1000001 и выше — `'A'`.
    
  5. Создал новый столбец 'purpose_category', предварительно написав функцию на основании данных из столбца 'purpose' в который войдут следующие категории: 
    
    - `'операции с автомобилем'`;
    - `'операции с недвижимостью'`;
    - `'проведение свадьбы'`;
    - `'получение образования'`.
    
    5.1. Соответственно упорядочил, с помощью ввода необходимых подстрок, данные из столбца 'purpose'.  
    
    
  6. На основании обработанных данных был проведен анализ и оставленны комментарии следующих табличных показателей:
    
     - переменная `'children_depend_debt'` - показатель зависимости от количества детей и возврата кредита в срок;
     - переменная `'family_status_debt'` - показатель зависимости между семейным положением и возврата кредита в срок;
     - переменная `'total_income_debt'` - показатель зависимости между уровнем дохода и возврата кредита в срок;
     - переменная `'purpose_category_debt'` - показатель зависимости от целей получения кредита на возврат кредита в срок.